<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Firefox suite" verbose="1">

    <test name="Firefox Test">
        <parameter name="browser" value="firefox"></parameter>
        <classes>

            <class name="com.epam.gloodc.uitesting.scenarios.StoreSearchSmokeTest"/>
        </classes>
    </test>

</suite>